body {
	display: grid;
	grid-template-areas:
		"header"
		"contents"
		"footer";
	
	grid-template-columns: 100%;
	grid-template-rows: auto auto auto;
	margin: 0;
	padding: 0;
}

div.header {
	grid-area: header;
	background: #37abc8 url("../images/8309058736_7def17e39e_o (1).png");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 50vw;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.logo {
	margin-left: 8%;
	margin-top: 50px;
	width: 10%;
	height: 5%;
	display: flex;
	justify-content: start;
	flex-direction: row;
	align-items: center;
	border: 1px solid black;
}

.header h2 {
	font-family: 'Raleway', sans-serif;
	color: #f4f3ee;
	padding: 10%;
}

img.logo-img {

}

.contents {
	grid-area: contents;
	background-color: #eeeeee;
	width: 100%;
	height: 525px;
}

