body {
	display: grid;
	grid-template-areas:
		"header"
		"contents"
		"contents-2"
		"footer";
	
	grid-template-columns: 100%;
	grid-template-rows: auto auto auto auto;
	margin: 0;
	padding: 0;
}

div.header {
	grid-area: header;
	background: #37abc8 url("../images/8309058736_7def17e39e_o (1).png");
	background-repeat: no-repeat;
	background-size: cover;
	width: inherit;
	height: 50vw;
	padding-left: 8%;
	padding-right: 8%;
}

.head {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 20%;
}

.logo {
	width: 10%;
	height: 5%;
	display: flex;
	justify-content: start;
	flex-direction: row;
	align-items: center;
}

.menu-img {
	width: 2.5%;
	height: 15%;
}

.header h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	color: #f4f3ee;
	padding: 10%;
}

.head-info {
	margin-top: 6%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.head-info h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	font-size: 4vw;
	color: #ffffff;
}

.head-input {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.contents {
	grid-area: contents;
	background-color: #eeeeee;
	width: inherit;
	height: auto;
	box-shadow: 0px 5px 0px 0px #e1e0d8;
	padding-top: 50px;
	padding-left: 8%;
	padding-right: 8%;
}

.contents h3 {
	color: #646464;
	font-family: 'Montserrat', sans-serif;
}

.contents h4 {
	color: #acacac;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	margin-bottom: 40px;
}

.destinations {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.destinations > div {
	width: 240px;
	height: 320px;
	background-color: #ffffff;
	padding: 0;
	box-shadow: 0 2px 0 #e1e0d8;
	margin-bottom: 75px;
	transition: all, 0.15s;
}

.content-text {
	width: 200px;
	padding-left: 20px;
	height: 110px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: space-between;
}

.content-text > h5 {
	color: #323232;
	font-family: 'Montserrat', sans-serif;
	padding-bottom: 10px;
	margin-top: 15px;
}

.content-text > h6 {
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	color: #919191;
	margin-top: -30px;
}

.contents-2 {
	grid-area: contents-2;
	background-color: #ffffff;
	width: inherit;
	height: auto;
	box-shadow: 0px 5px 0px 0px #e1e0d8;
	padding-left: 8%;
	padding-right: 8%;
	padding-top: 4%;
	padding-bottom: 6%;
}

.contents-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.contents-2 h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	font-size: 50px;
	color: #323232;
}

.content2-text {
	width: 275px;
	height: auto;
}

.content2-text h5 {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	color: #323232;
}

.content2-text h6 {
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	font-size: 16px;
	color: #9a9a9a;
	margin-top: -15px;
}

.mailbox h5 {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	color: #323232;
	text-align: center;
}

.mail {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

input[type="text"] {
	width: 325px;
	height: 40px;
	background-color: #eeeeee;
	color: #8b8b8b;
	border: none;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	padding-left: 15px;
	transition: all, 0.15s;
}

input[type="submit"] {
	width: 150px;
	height: 42px;
	margin-left: 2px;
	background-color: #fd4f32;
	color: #ffffff;
	border: none;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	transition: all, 0.15s;
}

.footer {
	grid-area: footer;
	background-color: #eeeeee;
	width: inherit;
	height: auto;
	padding-left: 8%;
	padding-right: 8%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	flex-wrap: wrap;
}

.footer h5 {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	width: 40%;
	color: #9a9a9a;
	height: 18px;
}

.foot-menu {
	width: 60%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	height: auto;
	font-family: 'Montserrat', sans-serif;
	color: #323232;
}

.foot-menu h4 {
	height: 18px;
	font-size: 14px;
	margin-left: 35px;
	transition: all, 0.15s;
}



.menu-img:hover {
	cursor:pointer;
}

.destinations > div:hover {
	box-shadow: 0px 0px 0px 10px #e1e0d8;
}

.destinations > div:active {
	box-shadow: 0px 0px 0px 15px #ffffff;
}

input[type="text"]:focus {
	outline: 1px solid #e1e0d8;
}

input[type="submit"]:hover {
	box-shadow: 0px 0px 0px 5px #e1e0d8;
}

input[type="submit"]:active {
	outline: none;
	box-shadow: 0px 0px 0px 2px #eeeeee;
}

.foot-menu h4:hover {
	box-shadow: 0px 0px 0px 5px #e1e0d8;
}

.foot-menu h4:active {
	box-shadow: 0px 0px 0px 10px #ffffff;
}

@media screen and (max-width: 625px) {
	.menu-img {
		width: 20px;
		height: 15px;
	}
	input[type="text"] {
		width: 175px;
	}
	input[type="submit"] {
		width: 100px;
	}
	.destinations {
		justify-content: center;
	}
	.contents-info {
		justify-content: center;
	}
}
