body {
	display: grid;
	grid-template-areas:
		"header"
		"contents"
		"footer";
	
	grid-template-columns: 100%;
	grid-template-rows: auto auto auto;
	margin: 0;
	padding: 0;
}

div.header {
	grid-area: header;
	background: #37abc8 url("../images/8309058736_7def17e39e_o (1).png");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 50vw;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.logo {
	margin-left: 8%;
	margin-top: 50px;
	width: 10%;
	height: 5%;
	display: flex;
	justify-content: start;
	flex-direction: row;
	align-items: center;
}

.header h2 {
	font-family: 'Raleway', sans-serif;
	color: #f4f3ee;
	padding: 10%;
}

img.logo-img {

}

.contents {
	grid-area: contents;
	background-color: #eeeeee;
	width: inherit;
	height: auto;
	padding-top: 50px;
	padding-left: 8%;
	padding-right: 8%;
}

.contents h3 {
	color: #646464;
	font-family: 'Montserrat', sans-serif;
}

.contents h4 {
	color: #acacac;
	font-family: 'Raleway', sans-serif;
	margin-bottom: 40px;
}

.destinations {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	
}

.destinations > div {
	width: 240px;
	height: 320px;
	background-color: #ffffff;
	padding: 0;
	box-shadow: 0 2px 0 #e1e0d8;
	margin-bottom: 75px;
}

.content-text {
	width: 200px;
	padding-left: 20px;
	height: 110px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: space-between;
}

.content-text > h5 {
	color: #323232;
	font-family: 'Montserrat', sans-serif;
	padding-bottom: 10px;
	margin-top: 15px;
}

.content-text > h6 {
	font-family: 'Raleway', sans-serif;
	color: #919191;
	margin-top: -30px;
}
